.login {
  max-width: 100%;
  /* width: 100%; */
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px auto;
  padding: 15px;
}

.login-wrapper {
  background-color: #fff;
  border: 1px solid #ddd;
  max-width: 100%;
  width: 80%;
  padding: 15px;
}
