* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif !important;
}
html,
body {
  background-color: #f3ffff;
}

hr {
  background-color: #ddd !important;
  border: 0.1px solid #ddd;
}

.my-chat-container {
  width: 1170px;
  max-width: 100%;
  height: auto;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}
