@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif !important;
}
html,
body {
  background-color: #f3ffff;
}

hr {
  background-color: #ddd !important;
  border: 0.1px solid #ddd;
}

.my-chat-container {
  width: 1170px;
  max-width: 100%;
  height: auto;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.hidden {
  display: none !important;
}

.text-right {
  text-align: right !important;
}
.text-left {
  text-align: right !important;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
