.post {
  width: 100%;
  margin: 30px 0;
  margin-top: 50px;
}

.post-wrapper {
  padding: 15px;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.post-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.poster-title-img {
  display: flex;
  align-items: center;
}

.post-top-profile {
  width: 42px;
  height: 42px;
  object-fit: cover;
  border-radius: 100%;
  margin-right: 10px;
}
.post-top-right {
  cursor: pointer;
}

.user-post-name {
  font-weight: 500;
  font-size: 15px;
}

.user-post-date {
  font-size: 11px;
  display: block;
  font-weight: 300;
  display: flex;
  align-items: center;
}
.user-post-date .post-public-icon {
  font-size: 12px;
  margin-left: 5px;
}
.post-image {
  max-width: 100%;
  border-radius: 7px;
  object-fit: contain;
  margin: 15px 0;
}

.user-post-paragraph {
  font-size: 15px;
  font-weight: 300;
  margin: 20px 0;
}
.user-post-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  height: auto;
}
.post-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post-bottom-left {
  display: flex;
  align-items: center;
  justify-content: center;
}
.like-icon {
  width: 24px;
  height: 24px;
  margin-right: 5px;
  cursor: pointer;
}

.post-like-counter {
  font-size: 15px;
  font-weight: 400;
}

.post-comments {
  cursor: pointer;
  font-size: 15px;
  font-weight: 400;
}

.like-comment-hr {
  margin: 20px 0;
}

.like-comment-handler {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.comment-handler,
.like-handler {
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: center;
}
.comment-icon,
.like-thumb-icon {
  margin-right: 7px;
}
.comment-text,
.like-thumb-text {
  font-size: 15px;
  font: 500;
}

.liked-color {
  color: green;
}

/* comment box */
.comment-box {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: 25px;
  position: relative;
}
.comment-box-emoji {
  position: absolute;
  top: 100%;
  right: 50%;
  transform: translateX(50%);
}

.comment-box input {
  padding: 7px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 20px;
  max-width: 100%;
  width: 65%;
}
.comment-box input:focus {
  outline: none;
}

.comment-image img {
  width: 25px;
  height: 25px;
}

/* recent-comments */
.recent-comment-wrap {
  margin-left: 15px;
  margin-top: 15px;
}
.recent-comments {
  display: flex;
  align-items: center;
  justify-content: start;
  padding-top: 15px;
}

.comment-user-title {
  font-size: 12px;
  font-weight: 500;
}

.actual-comment {
  margin-left: 35px;
  border-bottom: 1px solid #f2f2f2;
  padding-bottom: 7px;
}
.actual-comment p {
  font-size: 13px;
}

/* comment-reply */

.comment-reply {
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: start;
  font-size: 12px;
}
.comment-reply label,
.comment-reply span {
  margin-right: 10px;
  font-weight: 500;
  cursor: pointer;
}

/* comment-reply-wrap/ */

.comment-reply-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.second-time-reply {
  margin-left: 50px;
  border-left: 3px solid green;
  padding-left: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.second-time-reply article {
  margin-left: 35px;
}

.second-time-reply article p {
  font-size: 13px;
}

.reply-comment-box {
  margin-top: 10px;
  display: flex;
  justify-content: start;
  align-items: center;
}
.reply-comment-box input {
  border: 1px solid #ddd;
  border-radius: 20px;
  padding: 5px;
}

.reply-comment-box input:focus {
  outline: none;
}
