.layout-wrapper {
  display: grid;
  width: 100%;
  max-width: 100%;
  display: flex;
}

.layout-left {
  flex: 3;
  max-width: 100%;
}
.layout-center {
  flex: 6;
  max-width: 100%;
}
.layout-right {
  flex: 3;
  max-width: 100%;
}
